<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" verbose="2" allow-return-values="true">

  <listeners>
		<listener class-name="MyPackage.TestListener" />
	</listeners>
  <test name="Test">
   <classes>
   <class name="MyPackage.CNRegressionAutomation">
      <methods>
        <include name="Login" />
        <include name="VerificationOfOverviewPage" />
        <exclude name="AddNewPr" />
        <include name="AddModule" />
        <exclude name="AddIntervention" />
        <exclude name="AddPRintervention" />
        <include name="TRPDateRegister" />
        <include name="CTPositiveAssessment" />
        <exclude name="GoalCreation" />
        <exclude name="StdImpactIndicator" />
        <exclude name="ObjectiveCreation" />
        <exclude name="StdOutcomeIndicator" />
        <exclude name="CustomImpactInd" />
        <exclude name="CustomOutcomeInd" />
        <exclude name="CNModuleBudget" />
        <exclude name="ChangeSubmissionDate" />
        <exclude name="UploadFile" />  
        <include name="SubmitCN" />
        <include name="CCMEditChk"/>
        <include name="CTLogin"/>
        <include name="CTEditChk"/>
        <include name="FinalCTReview"/>
        <include name="FinalTranslationReview"/>
        <include name="CCMEditChkAfterCTReview"/>
        <include name= "IterationScenarios"/>
        <include name="ItrNotSubmittedEditChk"/>
        <include name="SubmitItrCN"/>
        </methods>
    </class>
   </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
                

     
