<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default suite" verbose="2" allow-return-values="true">

  <listeners>
		<listener class-name="MyPackage.TestListener" />
	</listeners>
	<test name="Test CNSubmission">
   <classes>
   <class name="MyPackage.ConceptNotesubmission">
      <methods>
       <include name="Login" />
        <include name="VerificationOfOverviewPage" />
        <include name="TRPDateRegister" />
        <include name="CTPositiveAssessment" />
        <include name="ChangeSubmissionDate" />
       </methods>
      </class>
    </classes>
  </test> <!-- Test --> 
</suite> <!-- Suite -->
